[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
tensorflow = "==2.12.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
